{
  "openapi": "3.0.1",
  "info": {
    "title": "Reflect API",
    "description": "API for interacting with the Reflect Protocol",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://api.reflect.cx"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/protocol/metrics": {
      "get": {
        "description": "Fetches Reflect Protocol metrics such as total value locked, USDR supply, and insurance fund size.",
        "responses": {
          "200": {
            "description": "Protocol metrics response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalValueLocked": {
                      "type": "number",
                      "format": "float",
                      "description": "Total value locked in the Reflect Protocol"
                    },
                    "usdrSupply": {
                      "type": "number",
                      "format": "float",
                      "description": "Current supply of USDR"
                    },
                    "insuranceFundSize": {
                      "type": "number",
                      "format": "float",
                      "description": "Size of the insurance fund"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/usdr/mint": {
      "post": {
        "description": "Builds transaction for depositing Liquid Stake Token into Reflect in exchange for USDR.",
        "requestBody": {
          "description": "Data required for minting USDR",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "format": "float",
                    "description": "Amount of Liquid Stake Token to deposit"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Transaction built successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionId": {
                      "type": "string",
                      "description": "The ID of the transaction"
                    },
                    "status": {
                      "type": "string",
                      "description": "Status of the transaction"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/usdr/redeem": {
      "post": {
        "description": "Builds transaction for redeeming USDR in exchange for Liquid Stake Tokens.",
        "requestBody": {
          "description": "Data required for redeeming USDR",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "format": "float",
                    "description": "Amount of USDR to redeem"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Transaction built successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionId": {
                      "type": "string",
                      "description": "The ID of the transaction"
                    },
                    "status": {
                      "type": "string",
                      "description": "Status of the transaction"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
