{
  "openapi": "3.0.3",
  "info": {
    "title": "Reflect API",
    "description": "Interact with the Reflect infrastructure via API. Retrieve stablecoin and protocol stats. Generate transactions for minting and redeeming stablecoins. Manage integrations and issue whitelabel stablecoins.\n\n## Rate Limiting\n- **Unauthenticated users**: 100 requests per minute\n- **Authenticated integrators**: 500 requests per minute\n\n## Authentication\nTo access higher rate limits, include your API key in the `X-API-Key` header. API keys can be obtained through the integration management endpoints.",
    "version": "1.0.0",
    "contact": {
      "name": "Reflect",
      "url": "https://reflect.money"
    }
  },
  "servers": [
    {
      "url": "https://prod.api.reflect.money",
      "description": "Production environment"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "description": "Check if the is operational and healthy.",
        "tags": ["Health"],
        "responses": {
          "200": {
            "description": "API is operational",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "API is running"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-01T00:00:00.000Z"
                    }
                  },
                  "required": ["success", "message", "timestamp"]
                }
              }
            }
          },
          "500": {
            "description": "API is down",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal server error."
                    }
                  },
                  "required": ["success", "message"]
                }
              }
            }
          }
        }
      }
    },
    "/stablecoin/types": {
      "get": {
        "summary": "Get available stablecoin types",
        "description": "Retrieve list of available stablecoin types",
        "tags": ["Stablecoin"],
        "responses": {
          "200": {
            "description": "Available stablecoin types retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "integer",
                            "description": "Stablecoin index",
                            "example": 0
                          },
                          "name": {
                            "type": "string",
                            "description": "Stablecoin name",
                            "example": "USDC+"
                          }
                        },
                        "required": ["index", "name"]
                      },
                      "example": [{ "index": 0, "name": "USDC+" }]
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stablecoin/limits": {
      "get": {
        "summary": "Get supply cap information for all stablecoins",
        "description": "Retrieve supply caps, current supply, and remaining capacity for all stablecoins",
        "tags": ["Stablecoin"],
        "responses": {
          "200": {
            "description": "Supply cap information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "properties": {
                              "index": {
                                "type": "integer",
                                "description": "Stablecoin index",
                                "example": 0
                              }
                            },
                            "required": ["index"]
                          },
                          {
                            "$ref": "#/components/schemas/SupplyCapInfo"
                          }
                        ]
                      },
                      "example": [
                        {
                          "index": 0,
                          "supplyCap": 1000000000,
                          "currentSupply": 500000000,
                          "remainingCapacity": 500000000,
                          "utilizationPercentage": 50.0
                        }
                      ]
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stablecoin/quote/{type}": {
      "post": {
        "summary": "Get quote for mint or redeem",
        "description": "Get a quote for minting or redeeming stablecoins",
        "tags": ["Stablecoin"],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Quote type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["mint", "redeem"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "stablecoinIndex": {
                    "type": "integer",
                    "description": "Stablecoin index (0: USDC+)",
                    "example": 0
                  },
                  "depositAmount": {
                    "type": "number",
                    "description": "Amount to quote",
                    "example": 1000000
                  }
                },
                "required": ["stablecoinIndex", "depositAmount"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "number",
                      "description": "Quote amount",
                      "example": 999000
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Stablecoin with the specified index not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stablecoin/mint": {
      "post": {
        "summary": "Generate mint transaction",
        "description": "Generate a mint transaction for stablecoins using the Reflect SDK.",
        "tags": ["Stablecoin"],
        "parameters": [
          {
            "name": "cluster",
            "in": "query",
            "description": "Solana cluster to use (defaults to mainnet)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["mainnet", "devnet"],
              "default": "mainnet"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "stablecoinIndex": {
                    "type": "integer",
                    "description": "Stablecoin index (0: USDC+)",
                    "example": 0
                  },
                  "depositAmount": {
                    "type": "number",
                    "description": "Amount to mint in smallest unit",
                    "example": 1000000
                  },
                  "signer": {
                    "type": "string",
                    "description": "User's Solana wallet address",
                    "example": "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
                  },
                  "minimumReceived": {
                    "type": "number",
                    "description": "Minimum amount to receive (slippage protection)",
                    "example": 999000
                  },
                  "collateralMint": {
                    "type": "string",
                    "description": "Optional collateral mint address",
                    "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
                  },
                  "feePayer": {
                    "type": "string",
                    "description": "Optional Solana wallet address that will pay the transaction fee. If not provided, defaults to the signer address.",
                    "example": "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
                  }
                },
                "required": ["stablecoinIndex", "depositAmount", "signer"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mint transaction generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Stablecoin with the specified index not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stablecoin/burn": {
      "post": {
        "summary": "Generate burn transaction",
        "description": "Generate a burn transaction for stablecoins using the Reflect SDK",
        "tags": ["Stablecoin"],
        "parameters": [
          {
            "name": "cluster",
            "in": "query",
            "description": "Solana cluster to use (defaults to mainnet)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["mainnet", "devnet"],
              "default": "mainnet"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "stablecoinIndex": {
                    "type": "integer",
                    "description": "Stablecoin index (0: USDC+)",
                    "example": 0
                  },
                  "depositAmount": {
                    "type": "number",
                    "description": "Amount to burn in smallest unit",
                    "example": 1000000
                  },
                  "signer": {
                    "type": "string",
                    "description": "User's Solana wallet address",
                    "example": "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
                  },
                  "minimumReceived": {
                    "type": "number",
                    "description": "Minimum amount to receive (slippage protection)",
                    "example": 999000
                  },
                  "collateralMint": {
                    "type": "string",
                    "description": "Optional collateral mint address",
                    "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
                  },
                  "feePayer": {
                    "type": "string",
                    "description": "Optional Solana wallet address that will pay the transaction fee. If not provided, defaults to the signer address.",
                    "example": "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
                  }
                },
                "required": ["stablecoinIndex", "depositAmount", "signer"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Burn transaction generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Stablecoin with the specified index not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/check/{stablecoin}": {
      "get": {
        "summary": "Check integration verification status",
        "description": "Check whether a specific integration is verified by its branded stablecoin mint address. Returns a boolean indicating the verification status.",
        "tags": ["Integration"],
        "parameters": [
          {
            "name": "stablecoin",
            "in": "path",
            "description": "Branded stablecoin mint address - must be a valid Solana address",
            "required": true,
            "schema": {
              "type": "string",
              "example": "7FUxqf1ZeabzdPFGSsy1EUQBm8MNRR5GoRRSS7K6p4hb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Verification status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "verified": {
                      "type": "boolean",
                      "description": "Whether the integration is verified",
                      "example": true
                    }
                  },
                  "required": ["success", "verified"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid integration ID format - must be a valid Solana address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/verified": {
      "get": {
        "summary": "Get verified integrations",
        "description": "Retrieve a list of all verified integrations with their statistics, metadata, and configuration. This endpoint returns public information about integrations that have been verified by the Reflect team.",
        "tags": ["Integration"],
        "responses": {
          "200": {
            "description": "Verified integrations retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VerifiedIntegration"
                      },
                      "description": "Array of verified integrations with their stats, metadata, and config"
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/initialize": {
      "post": {
        "summary": "Initialize an integration",
        "description": "Initialize a new integration with branded mint and fee configuration.",
        "tags": ["Integration"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "signer": {
                    "type": "string",
                    "description": "Initializer's Solana address"
                  },
                  "authority": {
                    "type": "string",
                    "description": "Authority Solana address"
                  },
                  "stablecoin": {
                    "type": "integer",
                    "description": "Stablecoin index (0: USDC+)"
                  },
                  "feeBps": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 10000,
                    "description": "Fee in basis points"
                  },
                  "brandedMint": {
                    "type": "string",
                    "description": "Branded token mint address"
                  },
                  "feePayer": {
                    "type": "string",
                    "description": "Fee payer Solana address"
                  }
                },
                "required": [
                  "signer",
                  "authority",
                  "stablecoin",
                  "feeBps",
                  "brandedMint",
                  "feePayer"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Initialization transaction generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "transaction": {
                          "type": "string",
                          "description": "Base64 encoded transaction"
                        },
                        "integrationId": {
                          "type": "string",
                          "description": "Integration ID (proxy state address)"
                        }
                      },
                      "required": ["transaction", "integrationId"]
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/initialize-stablecoin": {
      "post": {
        "summary": "Initialize a stablecoin token",
        "description": "Generate a transaction to create a new branded token mint with metadata.",
        "tags": ["Integration"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "metadata": {
                    "type": "object",
                    "properties": {
                      "name": { "type": "string", "description": "Token name" },
                      "symbol": {
                        "type": "string",
                        "description": "Token symbol"
                      },
                      "description": {
                        "type": "string",
                        "description": "Token description"
                      },
                      "uri": { "type": "string", "description": "Metadata URI" }
                    },
                    "required": ["name", "symbol", "description", "uri"]
                  },
                  "signer": {
                    "type": "string",
                    "description": "Signer's Solana address"
                  },
                  "feePayer": {
                    "type": "string",
                    "description": "Fee payer Solana address"
                  }
                },
                "required": ["metadata", "signer", "feePayer"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token initialization transaction generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "transaction": {
                          "type": "string",
                          "description": "Base64 encoded transaction"
                        },
                        "mint": {
                          "type": "string",
                          "description": "Generated mint address"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/transfer-authority": {
      "post": {
        "summary": "Transfer mint authority",
        "description": "Generate a transaction to transfer mint authority of a branded token.",
        "tags": ["Integration"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "brandedMint": {
                    "type": "string",
                    "description": "Branded token mint address"
                  },
                  "signer": {
                    "type": "string",
                    "description": "Current authority's Solana address"
                  },
                  "feePayer": {
                    "type": "string",
                    "description": "Fee payer Solana address"
                  }
                },
                "required": ["brandedMint", "signer", "feePayer"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authority transfer transaction generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "transaction": {
                          "type": "string",
                          "description": "Base64 encoded transaction"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/initialize/flow": {
      "post": {
        "summary": "Initialize integration flow (complete setup)",
        "description": "A complete initialization flow that combines creating a branded mint, adding metadata, transferring authority, and initializing the integration in a single transaction. This is a wrapper around all initialization endpoints.",
        "tags": ["Integration"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "signer": {
                    "type": "string",
                    "description": "Initializer's Solana address"
                  },
                  "authority": {
                    "type": "string",
                    "description": "Authority Solana address"
                  },
                  "stablecoin": {
                    "type": "integer",
                    "description": "Stablecoin index (0: USDC+)"
                  },
                  "feeBps": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 10000,
                    "description": "Fee in basis points"
                  },
                  "feePayer": {
                    "type": "string",
                    "description": "Fee payer Solana address"
                  },
                  "metadata": {
                    "type": "object",
                    "properties": {
                      "name": { "type": "string", "description": "Token name" },
                      "symbol": {
                        "type": "string",
                        "description": "Token symbol"
                      },
                      "description": {
                        "type": "string",
                        "description": "Token description"
                      },
                      "uri": { "type": "string", "description": "Metadata URI" }
                    },
                    "required": ["name", "symbol", "description", "uri"]
                  }
                },
                "required": [
                  "signer",
                  "authority",
                  "stablecoin",
                  "feeBps",
                  "feePayer",
                  "metadata"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Initialization flow transaction generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "transaction": {
                          "type": "string",
                          "description": "Base64 encoded transaction (partially signed by mint keypair)"
                        },
                        "integrationId": {
                          "type": "string",
                          "description": "Integration ID (proxy state address)"
                        }
                      },
                      "required": ["transaction", "integrationId"]
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/{id}/config": {
      "get": {
        "summary": "Get integration configuration",
        "description": "Retrieve configuration for a specific integration",
        "tags": ["Integration"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Integration ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Integration configuration retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationConfigResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid integration ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/{id}/config/update": {
      "post": {
        "summary": "Update integration configuration",
        "description": "Generate a transaction to update the fee configuration for a specific integration",
        "tags": ["Integration"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Integration ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConfigRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update configuration transaction generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/{authority}/integrations": {
      "get": {
        "summary": "Get integrations by authority",
        "description": "Retrieve all integrations associated with a specific authority address",
        "tags": ["Integration"],
        "parameters": [
          {
            "name": "authority",
            "in": "path",
            "description": "Authority Solana address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Integrations retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "pubkey": {
                            "type": "string",
                            "description": "Integration pubkey (proxy state address)",
                            "example": "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "brandedMint": {
                                "type": "string",
                                "description": "Branded token mint address",
                                "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
                              },
                              "stablecoinMint": {
                                "type": "string",
                                "description": "Underlying stablecoin mint address",
                                "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
                              },
                              "fee": {
                                "type": "integer",
                                "description": "Fee in basis points",
                                "example": 200
                              },
                              "principal": {
                                "type": "string",
                                "description": "Principal amount (BigInt as string)",
                                "example": "1000000000"
                              },
                              "integratorsCommission": {
                                "type": "string",
                                "description": "Integrator's commission amount (BigInt as string)",
                                "example": "20000000"
                              },
                              "authority": {
                                "type": "string",
                                "description": "Authority Solana address",
                                "example": "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
                              },
                              "bump": {
                                "type": "integer",
                                "description": "PDA bump seed",
                                "example": 255
                              }
                            },
                            "required": [
                              "brandedMint",
                              "stablecoinMint",
                              "fee",
                              "principal",
                              "integratorsCommission",
                              "authority",
                              "bump"
                            ]
                          },
                          "metadata": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Token name",
                                "example": "My Token"
                              },
                              "symbol": {
                                "type": "string",
                                "description": "Token symbol",
                                "example": "MTK"
                              },
                              "image": {
                                "type": "string",
                                "format": "uri",
                                "description": "Token image URL",
                                "example": "https://metadata-bucket.s3.region.amazonaws.com/images/abc123.png"
                              },
                              "description": {
                                "type": "string",
                                "description": "Token description",
                                "example": "A great token"
                              }
                            },
                            "required": [
                              "name",
                              "symbol",
                              "image",
                              "description"
                            ],
                            "nullable": true,
                            "description": "Token metadata (null if not available)"
                          }
                        },
                        "required": ["pubkey", "data"]
                      },
                      "description": "Array of integrations associated with the authority"
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid authority address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/upload": {
      "post": {
        "summary": "Upload integration metadata",
        "description": "Upload image and metadata for a branded mint. Returns URLs for the uploaded image and JSON metadata file that can be used when initializing integrations.",
        "tags": ["Integration"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image file (PNG, JPEG, etc.)"
                  },
                  "brandedMint": {
                    "type": "string",
                    "description": "Branded mint Solana address",
                    "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
                  },
                  "metadata[name]": {
                    "type": "string",
                    "description": "Token name",
                    "example": "My Token"
                  },
                  "metadata[symbol]": {
                    "type": "string",
                    "description": "Token symbol",
                    "example": "MTK"
                  },
                  "metadata[description]": {
                    "type": "string",
                    "description": "Token description",
                    "example": "A great token"
                  }
                },
                "required": [
                  "image",
                  "brandedMint",
                  "metadata[name]",
                  "metadata[symbol]",
                  "metadata[description]"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metadata uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "imageUrl": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL of the uploaded image",
                          "example": "https://metadata-bucket.s3.region.amazonaws.com/images/abc123.png"
                        },
                        "jsonUrl": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL of the uploaded JSON metadata file",
                          "example": "https://metadata-bucket.s3.region.amazonaws.com/json/xyz789.json"
                        }
                      },
                      "required": ["imageUrl", "jsonUrl"]
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/api-key/reveal": {
      "post": {
        "summary": "Reveal API key",
        "description": "Reveal the API key for an integration. Requires a signature from the integration authority to prove ownership. The message to sign should be: 'Reveal API key for integration {integrationId} at timestamp {timestamp}'. **Important**: The signature is only valid for 1 minute from the timestamp. The timestamp must be within 1 minute of the current server time.",
        "tags": ["Integration"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "integrationId": {
                    "type": "string",
                    "description": "Integration ID (proxy state address)",
                    "example": "6RiHbTkMvYmr39GQArt7siykWDghC8uMcwHAWkZLiQ3i"
                  },
                  "signer": {
                    "type": "string",
                    "description": "Signer Solana address (must be the integration authority)",
                    "example": "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
                  },
                  "signature": {
                    "type": "string",
                    "description": "Base58-encoded signature of the message",
                    "example": "5KJvsngHeMoo884zpHuqeFqJ2pB3z5K1z6T5KJvsngHeMoo884zpHuqeFqJ2pB3z5K1z6T5KJvsngHeMoo884zpHuqeFqJ2pB3z5K1z6T"
                  },
                  "timestamp": {
                    "type": "integer",
                    "description": "Unix timestamp in milliseconds. Must be within 1 minute of the current server time. Signatures expire after 1 minute.",
                    "example": 1704067200000
                  }
                },
                "required": [
                  "integrationId",
                  "signer",
                  "signature",
                  "timestamp"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key revealed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "string",
                      "description": "The API key for the integration",
                      "example": "rk_live_abc123xyz789"
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - Invalid signature, expired signature (older than 1 minute), signer is not the authority, or timestamp is in the future",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Integration not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/api-key/rotate": {
      "post": {
        "summary": "Rotate API key",
        "description": "Rotate (generate a new) API key for an integration. Requires a signature from the integration authority to prove ownership. The message to sign should be: 'Rotate API key for integration {integrationId} at timestamp {timestamp}'. The old API key will be invalidated. **Important**: The signature is only valid for 1 minute from the timestamp. The timestamp must be within 1 minute of the current server time.",
        "tags": ["Integration"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "integrationId": {
                    "type": "string",
                    "description": "Integration ID (proxy state address)",
                    "example": "6RiHbTkMvYmr39GQArt7siykWDghC8uMcwHAWkZLiQ3i"
                  },
                  "signer": {
                    "type": "string",
                    "description": "Signer Solana address (must be the integration authority)",
                    "example": "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
                  },
                  "signature": {
                    "type": "string",
                    "description": "Base58-encoded signature of the message",
                    "example": "5KJvsngHeMoo884zpHuqeFqJ2pB3z5K1z6T5KJvsngHeMoo884zpHuqeFqJ2pB3z5K1z6T5KJvsngHeMoo884zpHuqeFqJ2pB3z5K1z6T"
                  },
                  "timestamp": {
                    "type": "integer",
                    "description": "Unix timestamp in milliseconds. Must be within 1 minute of the current server time. Signatures expire after 1 minute.",
                    "example": 1704067200000
                  }
                },
                "required": [
                  "integrationId",
                  "signer",
                  "signature",
                  "timestamp"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key rotated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "string",
                      "description": "The new API key for the integration",
                      "example": "rk_live_new123xyz456"
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - Invalid signature, expired signature (older than 1 minute), signer is not the authority, or timestamp is in the future",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Integration not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/whitelist": {
      "post": {
        "summary": "Whitelist integration users",
        "description": "Reflect is currently in closed beta and requires whitelisting users. To whitelist your users as integrator, generate and submit transaction returned from this endpoint.",
        "tags": ["Integration"],
        "security": [
          {
            "authenticatedIntegrator": []
          }
        ],
        "parameters": [
          {
            "name": "cluster",
            "in": "query",
            "description": "Solana cluster to use (defaults to mainnet)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["mainnet", "devnet"],
              "default": "mainnet"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "signer": {
                    "type": "string",
                    "description": "Signer Solana address",
                    "example": "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
                  },
                  "user": {
                    "type": "string",
                    "description": "User Solana address to whitelist. If not provided, defaults to the signer address.",
                    "example": "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
                  },
                  "feePayer": {
                    "type": "string",
                    "description": "Fee payer Solana address",
                    "example": "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
                  }
                },
                "required": ["signer", "feePayer"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Whitelist transaction generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/{id}/stats": {
      "get": {
        "summary": "Get integration statistics",
        "description": "Retrieve statistics for a specific integration",
        "tags": ["Integration"],
        "security": [
          {
            "authenticatedIntegrator": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Integration ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Integration statistics retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationStatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid integration ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/{id}/events": {
      "get": {
        "summary": "Get integration events",
        "description": "Retrieve recent events for a specific integration.",
        "tags": ["Integration"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Integration ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of events to return. Must be a positive integer. Defaults to 100 if not provided.",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "example": "100",
              "default": "100"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "Number of days in the past to lookup events. Must be a positive number if set. Can be combined with limit to filter both by time range and result count.",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+(\\.?[0-9]+)?$",
              "example": "30"
            }
          },
          {
            "name": "signer",
            "in": "query",
            "description": "Filter events by signer address. Only returns events triggered by this specific wallet address.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Integration events retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IntegrationEvent"
                      }
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid integration ID or query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/{id}/stats/historical": {
      "get": {
        "summary": "Get historical integration statistics",
        "description": "Retrieve historical statistics for a specific integration. Use the `period` query parameter to specify the number of days (e.g., '7' for 7 days, '30' for 30 days). Defaults to 7 days if not provided.",
        "tags": ["Integration"],
        "security": [
          {
            "authenticatedIntegrator": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Integration ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "Number of days for historical data (e.g., '7' for 7 days, '30' for 30 days). Defaults to 7 days if not provided.",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "default": "7"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historical integration statistics retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalStatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid integration ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/{id}/exchange-rate": {
      "get": {
        "summary": "Get current exchange rate",
        "description": "Retrieve current exchange rate for a specific integration",
        "tags": ["Integration"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Integration ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exchange rate retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeRateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid integration ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/initialize-vault": {
      "post": {
        "summary": "Initialize integration vault",
        "description": "Initialize the proxy vault for an integration (admin-only).",
        "tags": ["Integration"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "integrationId": {
                    "type": "string",
                    "description": "Integration ID (proxy state address)"
                  },
                  "signer": {
                    "type": "string",
                    "description": "Admin Solana address"
                  },
                  "feePayer": {
                    "type": "string",
                    "description": "Fee payer Solana address"
                  }
                },
                "required": ["integrationId", "signer", "feePayer"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Initialize vault transaction generated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TransactionResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/initialize-user-account": {
      "post": {
        "summary": "Initialize user branded token account",
        "description": "Generate a transaction to initialize a user's branded token account. This endpoint allows developers to pay for account initialization on behalf of users by setting the `signer` parameter to their own address - the signer will pay for the account initialization costs, while `feePayer` covers transaction fees. Note: The `/integration/mint` endpoint automatically handles account initialization, so this endpoint is typically only needed if you want to initialize accounts separately from minting.",
        "tags": ["Integration"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "integrationId": {
                    "type": "string",
                    "description": "Integration ID (proxy state address)"
                  },
                  "userAddress": {
                    "type": "string",
                    "description": "User's Solana address (the account owner)"
                  },
                  "signer": {
                    "type": "string",
                    "description": "Signer Solana address. This address will pay for the account initialization costs. Set this to your integration's address to pay for users on their behalf."
                  },
                  "feePayer": {
                    "type": "string",
                    "description": "Fee payer Solana address. This address will pay for transaction fees."
                  }
                },
                "required": [
                  "integrationId",
                  "userAddress",
                  "signer",
                  "feePayer"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Initialize user account transaction generated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TransactionResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/quote/{type}": {
      "post": {
        "summary": "Get quote for mint or redeem",
        "description": "Get a quote for minting (wrapping USDC+ into branded tokens) or redeeming (unwrapping branded tokens back to USDC+) for a specific integration.",
        "tags": ["Integration"],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Quote type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["mint", "redeem"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "integrationId": {
                    "type": "string",
                    "description": "Integration ID (proxy state address)",
                    "example": "6RiHbTkMvYmr39GQArt7siykWDghC8uMcwHAWkZLiQ3i"
                  },
                  "amount": {
                    "type": "number",
                    "description": "Amount to quote (in smallest unit). For mint: amount of USDC+ to deposit. For redeem: amount of branded tokens to redeem.",
                    "example": 1000000
                  }
                },
                "required": ["integrationId", "amount"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "number",
                      "description": "Quote amount (in smallest unit). For mint: amount of branded tokens to receive. For redeem: amount of USDC+ to receive.",
                      "example": 999000
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Integration not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/quote/flow/{type}": {
      "post": {
        "summary": "Get quote for mint or redeem with USDC input/output",
        "description": "Get a quote for the full flow: USDC → USDC+ → branded tokens (mint) or branded tokens → USDC+ → USDC (redeem). This endpoint handles both the stablecoin conversion and the integration wrap/unwrap in a single quote.",
        "tags": ["Integration"],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Quote type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["mint", "redeem"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "integrationId": {
                    "type": "string",
                    "description": "Integration ID (proxy state address)",
                    "example": "6RiHbTkMvYmr39GQArt7siykWDghC8uMcwHAWkZLiQ3i"
                  },
                  "amount": {
                    "type": "number",
                    "description": "Amount to quote (in smallest unit). For mint: amount of USDC to deposit. For redeem: amount of branded tokens to redeem.",
                    "example": 1000000
                  },
                  "stablecoinIndex": {
                    "type": "integer",
                    "description": "Stablecoin index (0: USDC+)",
                    "example": 0
                  }
                },
                "required": ["integrationId", "amount", "stablecoinIndex"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "number",
                      "description": "Quote amount (in smallest unit). For mint: amount of branded tokens to receive. For redeem: amount of USDC to receive.",
                      "example": 999000
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Integration or stablecoin not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/mint": {
      "post": {
        "summary": "Generate mint transaction",
        "description": "Generate a mint transaction for integration stablecoins. This endpoint automatically detects if the recipient's branded token account needs to be initialized and includes the initialization instruction in the transaction if required. Developers can pay for account initialization on behalf of users by setting the `feePayer` parameter to their own address - the feePayer will cover both transaction fees and account initialization costs.",
        "tags": ["Integration"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Amount to mint",
                    "example": 1000000
                  },
                  "recipient": {
                    "type": "string",
                    "description": "Recipient Solana wallet address (the user receiving the tokens)",
                    "example": "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
                  },
                  "integrationId": {
                    "type": "string",
                    "description": "Integration ID (proxy state address)",
                    "example": "int_12345"
                  },
                  "feePayer": {
                    "type": "string",
                    "description": "Fee payer Solana address. This address will pay for transaction fees and account initialization costs (if the recipient's account needs to be initialized). Set this to your integration's address to pay for users on their behalf.",
                    "example": "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
                  }
                },
                "required": ["amount", "recipient", "integrationId", "feePayer"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mint transaction generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/flow/mint": {
      "post": {
        "summary": "Mint stablecoin and whitelabel in single transaction",
        "description": "Generate a combined transaction that mints the underlying stablecoin and then whitelabels it in a single call. This combines the functionality of /stablecoin/mint and /integration/mint.",
        "tags": ["Integration"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Amount to mint",
                    "example": 1000000
                  },
                  "recipient": {
                    "type": "string",
                    "description": "Recipient Solana wallet address",
                    "example": "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
                  },
                  "integrationId": {
                    "type": "string",
                    "description": "Integration ID (proxy state address)",
                    "example": "int_12345"
                  },
                  "feePayer": {
                    "type": "string",
                    "description": "Fee payer Solana address",
                    "example": "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
                  }
                },
                "required": ["amount", "recipient", "integrationId", "feePayer"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Combined mint and whitelabel transaction generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/redeem": {
      "post": {
        "summary": "Generate redemption transaction",
        "description": "Generate a redemption transaction for integration stablecoins",
        "tags": ["Integration"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Amount to redeem",
                    "example": 1000000
                  },
                  "recipient": {
                    "type": "string",
                    "description": "Recipient Solana wallet address (the user redeeming the tokens)",
                    "example": "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
                  },
                  "integrationId": {
                    "type": "string",
                    "description": "Integration ID (proxy state address)",
                    "example": "6RiHbTkMvYmr39GQArt7siykWDghC8uMcwHAWkZLiQ3i"
                  },
                  "feePayer": {
                    "type": "string",
                    "description": "Fee payer Solana address",
                    "example": "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
                  }
                },
                "required": ["amount", "recipient", "integrationId", "feePayer"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Redemption transaction generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/flow/redeem": {
      "post": {
        "summary": "Redeem whitelabeled stablecoin in single transaction",
        "description": "Generate a combined transaction that redeems the whitelabeled stablecoin and burns the underlying stablecoin in a single call. This combines the functionality of /integration/redeem and /stablecoin/burn.",
        "tags": ["Integration"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Amount to redeem",
                    "example": 1000000
                  },
                  "recipient": {
                    "type": "string",
                    "description": "Recipient Solana wallet address",
                    "example": "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
                  },
                  "integrationId": {
                    "type": "string",
                    "description": "Integration ID (proxy state address)",
                    "example": "int_12345"
                  },
                  "feePayer": {
                    "type": "string",
                    "description": "Fee payer Solana address",
                    "example": "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
                  }
                },
                "required": ["amount", "recipient", "integrationId", "feePayer"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Combined redeem and burn transaction generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/claim": {
      "post": {
        "summary": "Generate claim transaction",
        "description": "Generate a claim transaction for integration rewards. Claims all available rewards for the integration.",
        "tags": ["Integration"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "integrationId": {
                    "type": "string",
                    "description": "Integration ID (proxy state address)",
                    "example": "6RiHbTkMvYmr39GQArt7siykWDghC8uMcwHAWkZLiQ3i"
                  },
                  "feePayer": {
                    "type": "string",
                    "description": "Fee payer Solana address",
                    "example": "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
                  }
                },
                "required": ["integrationId", "feePayer"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Claim transaction generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stats": {
      "get": {
        "summary": "Get protocol statistics",
        "description": "Retrieve overall protocol statistics",
        "tags": ["Stats"],
        "responses": {
          "200": {
            "description": "Protocol statistics retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "users": {
                          "type": "integer",
                          "description": "Total number of users/holders",
                          "example": 1250
                        },
                        "supply": {
                          "type": "string",
                          "description": "Total supply as string",
                          "example": "50000000000000"
                        },
                        "cumulativeVolume": {
                          "type": "string",
                          "description": "Cumulative volume as string",
                          "example": "100000000000000"
                        },
                        "tvl": {
                          "type": "number",
                          "description": "Total Value Locked in USD",
                          "example": 50000000
                        },
                        "totalYieldDistributed": {
                          "type": "number",
                          "description": "Total yield distributed to users",
                          "example": 2500000
                        }
                      },
                      "required": [
                        "users",
                        "supply",
                        "cumulativeVolume",
                        "tvl",
                        "totalYieldDistributed"
                      ]
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stablecoin/apy": {
      "get": {
        "summary": "Get APY for all stablecoins",
        "description": "Retrieve realtime APY data for all available stablecoins.",
        "tags": ["Stablecoin"],
        "responses": {
          "200": {
            "description": "Successfully retrieved APY data for all stablecoins",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllStablecoinsResponse"
                }
              }
            }
          },
          "404": {
            "description": "No APY data found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stablecoin/exchange-rates": {
      "get": {
        "summary": "Get latest exchange rates for all stablecoins",
        "description": "Retrieve the latest base and receipt exchange rates for all supported stablecoins (USDC+).",
        "tags": ["Stablecoin"],
        "responses": {
          "200": {
            "description": "Latest exchange rates for all stablecoins retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "integer" },
                          "stablecoin": { "type": "integer" },
                          "base_usd_value_bps": {
                            "type": "number",
                            "description": "Base exchange rate in bps"
                          },
                          "receipt_usd_value_bps": {
                            "type": "number",
                            "description": "Receipt exchange rate in bps"
                          },
                          "timestamp": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "stablecoin",
                          "base_usd_value_bps",
                          "receipt_usd_value_bps",
                          "timestamp"
                        ]
                      }
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stablecoin/exchange-rates/historical": {
      "get": {
        "summary": "Get historical exchange rates for a stablecoin",
        "description": "Retrieve historical base and receipt exchange rates for a specific stablecoin (0: USDC+) and a number of days.",
        "tags": ["Stablecoin"],
        "parameters": [
          {
            "name": "stablecoin",
            "in": "query",
            "description": "Stablecoin index (0: USDC+)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "Number of days for historical data (default: 365)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 365
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historical exchange rates retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "integer" },
                          "stablecoin": { "type": "integer" },
                          "base_usd_value_bps": {
                            "type": "number",
                            "description": "Base exchange rate in bps"
                          },
                          "receipt_usd_value_bps": {
                            "type": "number",
                            "description": "Receipt exchange rate in bps"
                          },
                          "timestamp": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "stablecoin",
                          "base_usd_value_bps",
                          "receipt_usd_value_bps",
                          "timestamp"
                        ]
                      }
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Stablecoin with the specified index not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
[...]
